:root {
  /* white */
  --bg: #FFFFFF;
  /* ambrosia */
  --primary: #503CCF;
  /* helios */
  --secondary: #F1D262;
  /* palladium */
  --light-gray: #F4F4F4;
  /* nimbus */
  --mid-gray: #C0C0C0;
  --fg: #1e1e1e;
  --gray: #555;
  --shadow: #e6e6e6;
  --success: rgb(90, 206, 132);

  --phaethon-gradient: linear-gradient(180deg, rgba(241, 193, 98, 0.41) 0%, rgba(196, 196, 196, 0) 100%);

  --border-radius: 10px;
  --speed: 500ms;
}

.token-choice {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--bg);
  color: var(--fg);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: calc(0.9em + 0.5vw);
  line-height: 1.3;
}

body {
  margin: 0;
  padding: 1em;
}

main {
  margin: 0 auto;
  max-width: 25em;
}
