:root {
	--splitter-item-height: 3rem;
	--splitter-item-width: 462px;
	--coin-picker-width: 176px;
	--arrow-height: 90px;
}

.splitter-layout {
	display: grid;
	place-items: center;
}

.splitter-container {
	display: grid;
	grid-template-rows: 80px calc(var(--arrow-height * 1.2)) minmax(min-content, max-content) var(--splitter-item-height);
	grid-template-columns: 100%;

	padding: 2rem;

	border-radius: var(--border-radius);

	background-color: var(--light-gray);
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.splitter-items {
	display: grid;
	grid-template-columns: 100%;
	grid-auto-rows: var(--splitter-item-height);
	row-gap: 10px;
	overflow: scroll;	
}

.splitter-top-item {
	display: grid;
	grid-template-columns: minmax(36px, -1) var(--coin-picker-width);
	grid-template-rows: 100%;
	column-gap: 8px;

	padding: 1rem;
	align-items: center;
	border-radius: var(--border-radius);

	background-color: var(--bg)
}

.splitter-item {
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: minmax(36px, 1fr) 66px var(--coin-picker-width);
	column-gap: 8px;

	height: var(--splitter-item-height);
	width: var(--splitter-item-width);

	padding: 1rem;
	align-items: center;
	border-radius: var(--border-radius);

	background-color: var(--bg)
}

.add-new-splitter-item {
	display: grid;
	place-items: center;
	height: var(--splitter-item-height);
	width: var(--splitter-item-width);
	
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23c0c0c0' stroke-width='4' stroke-dasharray='5%2c 10' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
	border-radius: var(--border-radius);
}

.add-new-splitter-item-plus {
	color: var(--mid-gray);
	text-align: center;
}
